<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>My toDoApp</name>

    <description>
        My to do list
    </description>

    <author href="https://ie.linkedin.com/in/liam-millar-95622820" email="liam.millar@webelevate.ie">
       Liam Millar
    </author>
	
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<icon src="icon.png" />
<splash src="splash.png" />

<preference name="SplashScreenDelay" value="5000" />


</widget>
