<!--
* Author: Liam Millar
* Assignment: WE3WE4.0 Mobile Web Applications, Digital Skills Academy
* Date : 2016/07/03
* Ref: website link to code referenced or the book, authors name and page number
-->




<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="angular.min.js"></script>
<link rel="stylesheet" href="jquery.mobile-1.4.5.min.css" />
   <link rel="stylesheet" href="themes/toDoList.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="icon" href="icon.png">
<title>My To Do List</title>
</head>

<body>
<div ng-app="myApp" ng-controller="todoCtrl">
<div data-role="page" id="listpage" class="ui-responsive-panel">
<div class= "panel left" data-role="panel" id="myPanel">
<h1>Add a Task</h1>
<form ng-submit="todoAdd()">
<input type="text" ng-model="todoInput.name"  placeholder="Add New Name">
<input type="text" ng-model="todoInput.description"  placeholder="Add New Description">
<input type="submit" value="Add New">
</form>
</div>
<div data-role="header">
<h1>This My To Do List</h1>
<a href="#myPanel" class="ui-btn ui-icon-info ui-btn-icon-left">Add a Task</a>

</div>
<div data-role="content">

	<div class="content-primary">
	
	<ul data-role="listview" data-inset="true"  data-filter="true">
	<div ng-repeat=" x in todoList">
	<h2>{{ x.todoText }}</h2>
	<p>{{x.todoDesc }}</p>
 <p><button ng-click = "delete($index)">Delete</button></p>
 </div>
	</ul>
				

	</div>
</div>



<div data-role="footer">
<h1>Good Luck Completing Them All.</h1>
</div>
</div>





<script src="jquery-1.12.3.min.js"></script>
<script src="jquery.mobile-1.4.5.min.js"></script>

<script src="myController.js"></script>

</body>

</html> 